:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --Grayishblue: hsl(220, 15%, 55%);
  --Darkblue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--Lightgray);
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 375px;
  min-height: 100vh;
}

.card {
  letter-spacing: 0.8px;
}

.card-title {
  /* font-size: 1.35rem; */
  color: var(--Darkblue, black);
}

.card-text {
  color: var(--Grayishblue, black);
}
